{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help - AnyWhereShare</title>
    <script src="{% static 'js/help.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/help.css' %}?after">
     <!--web font-->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <logo>
            <img src="{% static 'img/logo.png' %}" style="width:60px; height:60px;" title="logo">
        </logo>
        <home>
            <h1 style="opacity:0.7;">AnyWhereShare</h1>
        </home>
        <help>
            <a href="#" style="color:#87C6CB" onClick="history.back();">Back</a>
        </help>
    </header>
    <div class="wrap">
        <div class="left_bar">
            <nav>
                <ul class="menu">
                    <li><a href="#user_mode">ALL FILE</a></li>
                    <li><a href="../trash">TRASH</a></li>
                </ul>
                <div class="dummy"></div>
                <ul class="user">
                    <li>
                        <a href="/user_set">
                            <img src="{% static 'img/setting.png' %}" style="width:30px; height:30px; -webkit-filter: opacity(.5) drop-shadow(0 0 0 #1F3C4D); filter: opacity(.5) dropt-shadow(0 0 0 #1F3C4D);" title="user_set">
                            test01님
                        </a>
                    </li>
                    <li>
                        <a href="../">
                            <img src="{% static 'img/logout.png' %}" style="width:30px; height:30px; -webkit-filter: opacity(.5) drop-shadow(0 0 0 #1F3C4D); filter: opacity(.5) dropt-shadow(0 0 0 #1F3C4D);" title="logout">
                            LOGOUT
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="function">
            <div class="title">Function</div>
            <div class="fun_1"><img src="{% static 'img/fun_1.png' %}" style="width: auto; height:80px;"></div>
            <div class="fun_2"><img src="{% static 'img/fun_2.png' %}" style="width: auto; height:80px;"></div>
            <div class="fun_3"><img src="{% static 'img/fun_3.png' %}" style="width: auto; height:80px;"></div>
            <div class="fun_4"><img src="{% static 'img/fun_4.png' %}" style="width: auto; height:80px;"></div>
            <div class="fun_5"><img src="{% static 'img/fun_5.png' %}" style="width: auto; height:80px;"></div>
            <div class="fun_6"><img src="{% static 'img/fun_6.png' %}" style="width: auto; height:80px;"></div>
            <div class="fun_7"><img src="{% static 'img/fun_7.png' %}" style="width: auto; height:80px;"></div>
            <div class="fun_8"><img src="{% static 'img/fun_8.png' %}" style="width: auto; height:80px;"></div>
        </div>
    </div>
    
</body>

</html>