{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'js/user_set.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/user_set.css' %}?after">
    <title>Document</title>
</head>
<body>
    
    <header>
        <img src="{% static 'img/logo.png' %}" style="width:80px; height:80px;" title="logo">
        <h1 style="opacity:0.7;">AnyWhereShare</h1>
        <a href="#" style="color:#87C6CB; ">Help</a>
    </header>
    <div class="wrap">
        <div class="main">
            
        </div>
    </div>
    
</body>

</html>